.app{
    width: 100%;
    height: 94vh;
    background-image: url(../src/assets/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app form{
padding: 2rem;
width: 50%;
/* border: dashed 1px; */
background-color: white;
border-radius: 10px;
}
@media screen and (max-width:22.1875em){
    .app form{
        width: 100%;
        background: linear-gradient(to bottom,green,white);
        
    }
}
p{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}
@media screen and (max-width:45.375em){
 p{
   font-weight: 500;
   font-size: 2rem;
 }   
}
label{
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.5rem;
}
.inputs{
    display: flex;
    flex-direction: column;
}
input{
    padding: 1rem;
    margin-bottom: 1rem;
   
}
button{
    padding: 1rem;
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.errors{
    font-size: 1rem;
    color: red;
}
button:disabled {
    background-color: rgb(147, 212, 94) !important;
}
.copy-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    text-align: center;
    line-height: 30px;
    color: green;
    font-weight: 800;
}
.copy-right span{
    margin-right: 20px;
}
::selection{
    color: white;
    background-color: green;
}
